.shopping-item {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	align-items: center;
}

.check-listItem {
	display: flex;
	gap: 5px;
	align-items: center;
}

.checkbox {
	display: flex;
	vertical-align: text-top;
}

.shopping-list-edit-remove {
	display: flex;
	justify-content: space-between;
	width: 50px;
}

.complete {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}
