.active-lists {
	margin: 1rem;
}

.active-list h2 {
	text-align: start;
}

.shopping-tile-container {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	margin: auto;
}

.tile {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 1rem;
	display: flex;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	justify-content: center;
	max-width: 200px;
}

p {
	font-size: small;
}

button {
	color: #0e65a3;
	background-color: white;
	padding: 0 10px;
	border-radius: 10px;
	margin-top: 10px;
}
