.add-item-styles {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

edit-item-styles {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

button {
	color: #0e65a3;
	background-color: white;
	padding: 0 10px;
	border-radius: 10px;
}
