.item-container {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	align-items: center;
}

.check-listItem {
	display: flex;
	gap: 5px;
	align-items: center;
}

.checkbox {
	display: flex;
	vertical-align: text-top;
}

.complete {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

.list-items {
	margin: auto;
	max-width: 300px;
}

.item-container:hover {
	text-decoration: underline;
	background: darkcyan;
	color: white;
	border-radius: 4px;
}

.icon {
	display: flex;
}
