@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Carter One', sans-serif;
}

.App {
	height: 100vh;
	overflow: hidden;
	background-color: whitesmoke;
}
