.home-container {
	padding: 20px;
	width: 80%;
	margin: auto;
}

.heading {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px;
}
